body {
	background: #2c3643;
	font-family: Inter, sans-serif;
}

.caja {
	background: #85ddc3;
	padding: 80px;
	font-size: x-large;
	display: inline-block;
}

/* Centrado Horizontal con Flexbox */
/* .contenedor {
	display: flex;
	justify-content: center;
} */

/* Centrado Horizontal y Vertical con Flexbox */
/* .contenedor {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
} */

/* Otra propiedad de CSS */
.contenedor {
	text-align: center;
	align-content: center;
	height: 100vh;
}
